QDM Templates for CQL-based HQMF/Templates/QDM Templates for CQL-based HQMF Header V3/QDM Templates for CQL-based HQMF Header V3.sch

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--


-->
<sch:schema xmlns:voc="http://www.lantanagroup.com/voc" xmlns:svs="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sdtc="urn:hl7-org:sdtc" xmlns="urn:hl7-org:v3" xmlns:hqmf="urn:hl7-org:v3" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2" >
  <sch:ns prefix="voc" uri="http://www.lantanagroup.com/voc" />
  <sch:ns prefix="svs" uri="urn:ihe:iti:svs:2008" />
  <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance" />
  <sch:ns prefix="sdtc" uri="urn:hl7-org:sdtc" />
  <sch:ns prefix="hqmf" uri="urn:hl7-org:v3" />
  
  <sch:phase id="errors">
    <sch:active pattern="p-CQL-Based-HQMF-Header-errors" />
  </sch:phase>
  
  <sch:phase id="warnings">
    <sch:active pattern="p-CQL-Based-HQMF-Header-warnings" />
  </sch:phase>
  
  <sch:pattern id="p-CQL-Based-HQMF-Header-errors">
    <sch:rule id="r-CQL-Based-HQMF-Header-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]">
      <sch:assert id="a-3372-18786-error" test="count(hqmf:typeId)=1">SHALL contain exactly one [1..1] typeId (CONF:3372-18786).</sch:assert>
      <sch:assert id="a-3372-18771-error" test="count(hqmf:templateId)=1">SHALL contain exactly one [1..1] templateId (CONF:3372-18771) </sch:assert>
      <sch:assert id="a-3372-18542-error" test="count(hqmf:id)=1">SHALL contain exactly one [1..1] id (CONF:3372-18542).</sch:assert>
      <sch:assert id="a-3372-18575-error" test="count(hqmf:code)=1">SHALL contain exactly one [1..1] code (CONF:3372-18575).</sch:assert>
      <sch:assert id="a-3372-18541-error" test="count(hqmf:title)=1">SHALL contain exactly one [1..1] title (CONF:3372-18541).</sch:assert>
      <sch:assert id="a-3372-18579-error" test="count(hqmf:statusCode)=1">SHALL contain exactly one [1..1] statusCode (CONF:3372-18579).</sch:assert>
      <sch:assert id="a-3372-18543-error" test="count(hqmf:setId)=1">SHALL contain exactly one [1..1] setId (CONF:3372-18543).</sch:assert>
      <sch:assert id="a-3372-18555-error" test="count(hqmf:custodian)=1">SHALL contain exactly one [1..1] custodian (CONF:3372-18555).</sch:assert>
      <sch:assert id="a-3372-34627-error" test="count(hqmf:relatedDocument) &gt; 0">SHALL contain at least one [1..*] relatedDocument (CONF:3372-34627).</sch:assert>
      <sch:assert id="a-3372-18545-error" test="count(hqmf:controlVariable)=1">SHALL contain exactly one [1..1] controlVariable (CONF:3372-18545).</sch:assert>
      <sch:assert id="a-3372-18580-error" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRSCORE'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'][@code])=1])=1])=1">SHALL contain exactly one [1..1] subjectOf (CONF:3372-18580) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18581). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18582). This code SHALL contain exactly one [1..1] @code="MSRSCORE" Measure Scoring (CONF:3372-18583). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30057). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (CONF:3372-29935). This value SHALL contain exactly one [1..1] @code (ValueSet: ObservationMeasureScoring urn:oid:2.16.840.1.113883.1.11.20367) (CONF:3372-29936).</sch:assert>
      <sch:assert id="a-3372-18588-error" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRTYPE'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'][@code])=1])=1]) &gt; 0">SHALL contain at least one [1..*] subjectOf (CONF:3372-18588) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18590). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18591). This code SHALL contain exactly one [1..1] @code="MSRTYPE" Measure Type (CONF:3372-29934). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30058). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (CONF:3372-29938). This value SHALL contain exactly one [1..1] @code (ValueSet: ObservationMeasureType urn:oid:2.16.840.1.113883.1.11.20368) (CONF:3372-29939).</sch:assert>
      <sch:assert id="a-3372-18813-error" test="count(hqmf:component) &gt; 0">SHALL contain at least one [1..*] component (CONF:3372-18813).</sch:assert>
      <sch:assert id="a-3372-18815-error" test="count(hqmf:component[count(hqmf:dataCriteriaSection[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.2.6' and @extension='2018-05-01']])=1])=1">SHALL contain exactly one [1..1] component (CONF:3372-18815) such that it SHALL contain exactly one [1..1] Data Criteria Section (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.28.2.6:2018-05-01) (CONF:3372-18833).</sch:assert>
      <sch:assert id="a-3372-19057-error" test="count(hqmf:component[count(hqmf:populationCriteriaSection[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.2.7' and @extension='2017-08-01']])=1]) &gt; 0">SHALL contain at least one [1..*] component (CONF:3372-19057) such that it SHALL contain exactly one [1..1] Population Criteria Section (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.28.2.7:2017-08-01) (CONF:3372-19058).</sch:assert>
    </sch:rule>  
 
    <sch:rule id="r-CQL-Based-HQMF-Header-typeId-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:typeId">
      <sch:assert id="a-3372-18787-error" test="@root='2.16.840.1.113883.1.3'">This typeId SHALL contain exactly one [1..1] @root="2.16.840.1.113883.1.3" (CONF:3372-18787).</sch:assert>
      <sch:assert id="a-3372-18788-error" test="@extension='POQM_HD000001UV02'">This typeId SHALL contain exactly one [1..1] @extension="POQM_HD000001UV02" (CONF:3372-18788).</sch:assert>  
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-templateId-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:templateId">
      <sch:assert id="a-3372-18772-error-error" test="count(hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01'])=1">This templateId SHALL contain exactly one [1..1] item (CONF:3372-18772) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.28.1.2" (CONF:3372-18773). SHALL contain zero or one [0..1] @extension="2018-05-01" (CONF:3372-33755). </sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-code-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:code">
      <sch:assert id="a-3372-18576-error" test="@code='57024-2'">This code SHALL contain exactly one [1..1] @code="57024-2" Health Quality Measure Document (CONF:3372-18576).</sch:assert>
      <sch:assert id="a-3372-33757-error" test="@codeSystem">This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: LOINC urn:oid:2.16.840.1.113883.6.1) (CONF:3372-33757).</sch:assert>
    </sch:rule>
  
    <sch:rule id="r-CQL-Based-HQMF-Header-statusCode-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:statusCode">
      <sch:assert id="a-3372-32666-error" test="lower-case(normalize-space(@code))='completed'">This statusCode SHALL contain exactly one [1..1] @code="completed" Completed (CodeSystem: HL7ActStatus urn:oid:2.16.840.1.113883.5.14) (CONF:3372-32666).</sch:assert>
    </sch:rule>
  
    <sch:rule id="r-CQL-Based-HQMF-Header-author-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:author">
      <sch:assert id="a-3372-18564-error" test="count(hqmf:responsibleParty)=1">The author, if present, SHALL contain exactly one [1..1] responsibleParty (CONF:3372-18564).</sch:assert>
    </sch:rule>      
 
    <sch:rule id="r-CQL-Based-HQMF-Header-author-responsibleParty-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:author/hqmf:responsibleParty">
      <sch:assert id="a-3372-18565-error" test="count(hqmf:representedResponsibleOrganization)=1">This responsibleParty SHALL contain exactly one [1..1] representedResponsibleOrganization (CONF:3372-18565).</sch:assert>
    </sch:rule>      
   
    <sch:rule id="r-CQL-Based-HQMF-Header-author-responsibleParty-representedResponsibleOrganization-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:author/hqmf:responsibleParty/hqmf:representedResponsibleOrganization">
      <sch:assert id="a-3372-18566-error" test="count(hqmf:id)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] id (CONF:3372-18566).</sch:assert>
      <sch:assert id="a-3372-18568-error" test="count(hqmf:name)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] name (CONF:3372-18568).</sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-author-responsibleParty-representedResponsibleOrganization-id-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:author/hqmf:responsibleParty/hqmf:representedResponsibleOrganization/hqmf:id">
      <sch:assert id="a-3372-18567-error" test="count(hqmf:item)=1">This id SHALL contain exactly one [1..1] item (CONF:3372-18567).</sch:assert>
     </sch:rule>

    <sch:rule id="r-CQL-Based-HQMF-Header-custodian-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:custodian">
      <sch:assert id="a-3372-18556-error" test="count(hqmf:responsibleParty)=1">This custodian SHALL contain exactly one [1..1] responsibleParty (CONF:3372-18556).</sch:assert>
    </sch:rule>
  
    <sch:rule id="r-CQL-Based-HQMF-Header-custodian-responsibleParty-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:custodian/hqmf:responsibleParty">
      <sch:assert id="a-3372-29933-error" test="@classCode='ASSIGNED'">This responsibleParty SHALL contain exactly one [1..1] @classCode="ASSIGNED" (CONF:3372-29933).</sch:assert>
      <sch:assert id="a-3372-18557-error" test="count(hqmf:representedResponsibleOrganization)=1">This responsibleParty SHALL contain exactly one [1..1] representedResponsibleOrganization (CONF:3372-18557).</sch:assert>
    </sch:rule>  
    
    <sch:rule id="r-CQL-Based-HQMF-Header-custodian-responsibleParty-representedResponsibleOrganization-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:custodian/hqmf:responsibleParty/hqmf:representedResponsibleOrganization">
      <sch:assert id="a-3372-18558-error" test="count(hqmf:id)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] id (CONF:3372-18558).</sch:assert>
      <sch:assert id="a-3372-18560-error" test="count(hqmf:name)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] name (CONF:3372-18560).</sch:assert>
    </sch:rule>  
    
    <sch:rule id="r-CQL-Based-HQMF-Header-custodian-responsibleParty-representedResponsibleOrganization-id-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:custodian/hqmf:responsibleParty/hqmf:representedResponsibleOrganization/hqmf:id">
      <sch:assert id="a-3372-18559-error" test="count(hqmf:item)=1">This id SHALL contain exactly one [1..1] item (CONF:3372-18559).</sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-verifier-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:verifier">
      <sch:assert id="a-3372-18755-error" test="count(hqmf:responsibleParty)=1">The verifier, if present, SHALL contain exactly one [1..1] responsibleParty (CONF:3372-18755).</sch:assert>
    </sch:rule> 
 
    <sch:rule id="r-CQL-Based-HQMF-Header-verifier-responsibleParty-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:verifier/hqmf:responsibleParty">
      <sch:assert id="a-3372-18756-error" test="count(hqmf:representedResponsibleOrganization)=1">This responsibleParty SHALL contain exactly one [1..1] representedResponsibleOrganization (CONF:3372-18756).</sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-verifier-responsibleParty-representedResponsibleOrganization-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:verifier/hqmf:responsibleParty/hqmf:representedResponsibleOrganization">
      <sch:assert id="a-3372-18757-error" test="count(hqmf:id)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] id (CONF:3372-18757).</sch:assert>
      <sch:assert id="a-3372-18759-error" test="count(hqmf:name)=1">This representedResponsibleOrganization SHALL contain exactly one [1..1] name (CONF:3372-18759).</sch:assert>
    </sch:rule>
      
    <sch:rule id="r-CQL-Based-HQMF-Header-verifier-responsibleParty-representedResponsibleOrganization-id-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:verifier/hqmf:responsibleParty/hqmf:representedResponsibleOrganization/hqmf:id">
      <sch:assert id="a-3372-18758-error" test="count(hqmf:item)=1">This id SHALL contain exactly one [1..1] item (CONF:3372-18758).</sch:assert>
    </sch:rule>
      
    <sch:rule id="r-CQL-Based-HQMF-Header-relatedDocument-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:relatedDocument">
      <sch:assert id="a-3372-34628-error" test="count(hqmf:expressionDocument)=1">Such relatedDocuments SHALL contain exactly one [1..1] expressionDocument (CONF:3372-34628).</sch:assert>
    </sch:rule>
      
    <sch:rule id="r-CQL-Based-HQMF-Header-relatedDocument-expressionDocument-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:relatedDocument/hqmf:expressionDocument">
      <sch:assert id="a-3372-34629-error" test="count(hqmf:text)=1">This expressionDocument SHALL contain exactly one [1..1] text (CONF:3372-34629).</sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-relatedDocument-expressionDocument-text-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:relatedDocument/hqmf:expressionDocument/hqmf:text">
      <sch:assert id="a-3372-34631-error" test="lower-case(normalize-space(@mediaType))='text/cql'">This text SHALL contain exactly one [1..1] @mediaType="text/cql" (CONF:3372-34631).</sch:assert>
      <sch:assert id="a-3372-34630-error" test="count(hqmf:reference)=1">This text SHALL contain exactly one [1..1] reference (CONF:3372-34630).</sch:assert>
    </sch:rule>
 
    <sch:rule id="r-CQL-Based-HQMF-Header-relatedDocument-expressionDocument-text-reference-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:relatedDocument/hqmf:expressionDocument/hqmf:text/hqmf:reference">
      <sch:assert id="a-3372-34632-error" test="@value">This reference SHALL contain exactly one [1..1] @value (CONF:3372-34632).</sch:assert>
    </sch:rule>  
      
    <sch:rule id="r-CQL-Based-HQMF-Header-controlVariable-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:controlVariable">
      <sch:assert id="a-3372-18546-error" test="count(hqmf:measurePeriod)=1">This controlVariable SHALL contain exactly one [1..1] measurePeriod (CONF:3372-18546).</sch:assert>
    </sch:rule>
    
    <sch:rule id="r-CQL-Based-HQMF-Header-controlVariable-measurePeriod-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:controlVariable/hqmf:measurePeriod">
      <sch:assert id="a-3372-18547-error" test="count(hqmf:code)=1">This measurePeriod SHALL contain exactly one [1..1] code (CONF:3372-18547).</sch:assert>
      <sch:assert id="a-3372-18550-error" test="count(hqmf:value)=1">This measurePeriod SHALL contain exactly one [1..1] value (CONF:3372-18550).</sch:assert>
    </sch:rule>
      
    <sch:rule id="r-CQL-Based-HQMF-Header-controlVariable-measurePeriod-code-errors" context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2'][@extension='2018-05-01']]/hqmf:controlVariable/hqmf:measurePeriod/hqmf:code">
      <sch:assert id="a-3372-18548-error" test="@code='MSRTP'">This code SHALL contain exactly one [1..1] @code="MSRTP" Measurement Period (CONF:3372-18548).</sch:assert>
      <sch:assert id="a-3372-30056-error" test="@codeSystem">This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30056).</sch:assert>
    </sch:rule>
 
   </sch:pattern>    
     
 

  <sch:pattern id="p-CQL-Based-HQMF-Header-warnings">
    <sch:rule id="r-CQL-Based-HQMF-Header-warnings"  context="hqmf:QualityMeasureDocument[hqmf:templateId/hqmf:item[@root='2.16.840.1.113883.10.20.28.1.2' and @extension='2018-05-01']]">
      <sch:assert id="a-3372-18578-warning" test="count(hqmf:text)=1">SHOULD contain zero or one [0..1] text (CONF:3372-18578).</sch:assert>
      <sch:assert id="a-3372-18544-warning" test="count(hqmf:versionNumber)=1">SHOULD contain zero or one [0..1] versionNumber (CONF:3372-18544).</sch:assert>
      <sch:assert id="a-3372-18563-warning" test="count(hqmf:author) &gt; 0">SHOULD contain zero or more [0..*] author (CONF:3372-18563).</sch:assert>
      <sch:assert id="a-3372-18754-warning" test="count(hqmf:verifier)=1">SHOULD contain zero or one [0..1] verifier (CONF:3372-18754).</sch:assert>
      <sch:assert id="a-3372-18603-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='COPY'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18603) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18604). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18605). This code SHALL contain exactly one [1..1] @code="COPY" Copyright (CONF:3372-29941). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30060). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18609).</sch:assert>
      <sch:assert id="a-3372-18610-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='CRS'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18610) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18611). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18612). This code SHALL contain exactly one [1..1] @code="CRS" Clinical Recommendation Statement (CONF:3372-18613). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30061). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29942).</sch:assert>
      <sch:assert id="a-3372-18617-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='GUIDE'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18617) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18618). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18619). This code SHALL contain exactly one [1..1] @code="GUIDE" Guide (CONF:3372-18620). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30062). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29943).</sch:assert>
      <sch:assert id="a-3372-18624-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='DEF'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18624) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18625). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18626). This code SHALL contain exactly one [1..1] @code="DEF" Definition (CONF:3372-18627). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30063). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18690).</sch:assert>
      <sch:assert id="a-3372-18630-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='IDUR'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18630) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18631). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18632). This code SHALL contain exactly one [1..1] @code="IDUR" Improvement Notation (CONF:3372-18633). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30064). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18636).</sch:assert>
      <sch:assert id="a-3372-18637-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='KEY'][@codeSystem])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18637) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18638). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18639). This code SHALL contain exactly one [1..1] @code="KEY" Keyword (CONF:3372-18640). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30065).</sch:assert>
      <sch:assert id="a-3372-18644-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRAGG'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18644) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18645). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18646). This code SHALL contain exactly one [1..1] @code="MSRAGG" Rate Aggregation (CONF:3372-18647). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30066). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18649).</sch:assert>
      <sch:assert id="a-3372-18650-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRADJ'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18650) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18651). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18652). This code SHALL contain exactly one [1..1] @code="MSRADJ" Risk Adjustment (CONF:3372-18653). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30067). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18656).</sch:assert>
      <sch:assert id="a-3372-18657-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='RAT'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18657) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18658). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18659). This code SHALL contain exactly one [1..1] @code="RAT" Rationale (CONF:3372-18663). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30068). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18662).</sch:assert>
      <sch:assert id="a-3372-18664-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='REF'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1]) &gt; 0">SHOULD contain zero or more [0..*] subjectOf (CONF:3372-18664) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18665). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18666). This code SHALL contain exactly one [1..1] @code="REF" Reference (CONF:3372-18667). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30069). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18668).</sch:assert>
      <sch:assert id="a-3372-18669-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRSET'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'])=1])=1]) &gt; 0">SHOULD contain zero or more [0..*] subjectOf (CONF:3372-18669) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18670). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18671). This code SHALL contain exactly one [1..1] @code="MSRSET" Care Setting (CONF:3372-18672). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30070). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (ValueSet: RoleClassServiceDeliveryLocation urn:oid:2.16.840.1.113883.1.11.16927) (CONF:3372-29950).</sch:assert>
      <sch:assert id="a-3372-18674-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRJUR'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18674) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18675). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18676). This code SHALL contain exactly one [1..1] @code="MSRJUR" Jurisdiction (CONF:3372-18677). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30071). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (CONF:3372-29951).</sch:assert>
      <sch:assert id="a-3372-18679-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRTOPIC'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18679) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18680). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18681). This code SHALL contain exactly one [1..1] @code="MSRTOPIC" Topic Type (CONF:3372-29952). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30072). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (CONF:3372-29953).</sch:assert>
      <sch:assert id="a-3372-18691-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRRPTR'][@codeSystem])=1][count(hqmf:value[@xsi:type='CD'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18691) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18692). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18693). This code SHALL contain exactly one [1..1] @code="MSRRPTR" Reporter Type (CONF:3372-18694). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30073). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="CD" (CONF:3372-29954).</sch:assert>
      <sch:assert id="a-3372-18698-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRRPTTIME'][@codeSystem])=1][count(hqmf:value[@xsi:type='PQ'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18698) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18699). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18700). This code SHALL contain exactly one [1..1] @code="MSRRPTTIME" Timeframe for Reporting (CONF:3372-18701). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30074). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="PQ" (CONF:3372-29955).</sch:assert>
      <sch:assert id="a-3372-18705-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='USE'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18705) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18706). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18707). This code SHALL contain exactly one [1..1] @code="USE" Notice of Use (CONF:3372-30075). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30076). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18711).</sch:assert>
      <sch:assert id="a-3372-18712-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='SDE'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18712) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18713). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18714). This code SHALL contain exactly one [1..1] @code="SDE" Supplemental Data Elements (CONF:3372-18715). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30077). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18718).</sch:assert>
      <sch:assert id="a-3372-18719-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='TRANF'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18719) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18720). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18721). This code SHALL contain exactly one [1..1] @code="TRANF" Transmission Format (CONF:3372-29956). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30078). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18725).</sch:assert>
      <sch:assert id="a-3372-18726-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='STRAT'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18726) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18727). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18728). This code SHALL contain exactly one [1..1] @code="STRAT" Stratification (CONF:3372-18729). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30079). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18732).</sch:assert>
      <sch:assert id="a-3372-18733-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='IPOP'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18733) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18734). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18735). This code SHALL contain exactly one [1..1] @code="IPOP" Initial Population (CONF:3372-18736). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30080). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18739).</sch:assert>
      <sch:assert id="a-3372-18740-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='DENOM'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18740) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18741). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18742). This code SHALL contain exactly one [1..1] @code="DENOM" Denominator (CONF:3372-29957). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30081). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18746).</sch:assert>
      <sch:assert id="a-3372-18747-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='DENEX'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-18747) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-18748). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-18749). This code SHALL contain exactly one [1..1] @code="DENEX" Denominator Exclusion (CONF:3372-29958). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30082). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-18753).</sch:assert>
      <sch:assert id="a-3372-29959-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='NUMER'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29959) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29960). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-30083). This code SHALL contain exactly one [1..1] @code="NUMER" Numerator (CONF:3372-30084). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30085). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29962).</sch:assert>
      <sch:assert id="a-3372-29963-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='NUMEX'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29963) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29964). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-29965). This code SHALL contain exactly one [1..1] @code="NUMEX" Numerator Exclusion (CONF:3372-29967). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30086). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29966).</sch:assert>
      <sch:assert id="a-3372-29968-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='DENEXCEP'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29968) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29969). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-29970). This code SHALL contain exactly one [1..1] @code="DENEXCEP" Denominator Exception (CONF:3372-29971). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30087). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29972).</sch:assert>
      <sch:assert id="a-3372-29973-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRPOPL'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29973) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29974). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-29975). This code SHALL contain exactly one [1..1] @code="MSRPOPL" Measure Population (CONF:3372-29976). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30088). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29977).</sch:assert>
      <sch:assert id="a-3372-29978-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='MSRPOPLEX'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29978) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29979). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-29980). This code SHALL contain exactly one [1..1] @code="MSRPOPLEX" Measure Population Exclusions  (CONF:3372-29981). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30089). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29982).</sch:assert>
      <sch:assert id="a-3372-29984-warning" test="count(hqmf:subjectOf[count(hqmf:measureAttribute[count(hqmf:code[@code='DISC'][@codeSystem])=1][count(hqmf:value[@xsi:type='ED'])=1])=1])=1">SHOULD contain zero or one [0..1] subjectOf (CONF:3372-29984) such that it SHALL contain exactly one [1..1] measureAttribute (CONF:3372-29985). This measureAttribute SHALL contain exactly one [1..1] code (CONF:3372-29986). This code SHALL contain exactly one [1..1] @code="DISC" Disclaimer (CONF:3372-29987). This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: HL7ActCode urn:oid:2.16.840.1.113883.5.4) (CONF:3372-30090). This measureAttribute SHALL contain exactly one [1..1] value with @xsi:type="ED" (CONF:3372-29988).</sch:assert>
    </sch:rule>
  </sch:pattern>
    
</sch:schema>